
<span class="align-middle">
<div class="card border-secondary ml-5 mb-3 mt-5 w-75">
    <div class="card-header">Total Posts</div>
    <div class="card-body text-secondary">
        <table class="table table-hover">
            <thead>
              <tr class="bg-secondary text-white">
                <th scope="col">State</th>
                <th class="text-center" scope="col">Inbox</th>
                <th class="text-center" scope="col">Outbox</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="table-danger" scope="row"><a routerLink="/post-home" >Assigned</a></th>
                <td class="text-center"><a routerLink="/post-home" >1</a></td>
                <td class="text-center"><a routerLink="/post-home" >1</a></td>
              </tr>
              <tr>
                <th class="table-warning" scope="row">In Process</th>
                <td class="text-center"><a routerLink="/post-home" >2</a></td>
                <td class="text-center"><a routerLink="/post-home" >1</a></td>
              </tr>
              <tr>
                <th class="table-success" scope="row">Resolved</th>
                <td class="text-center"><a routerLink="/post-home" >7</a></td>
                <td class="text-center"><a routerLink="/post-home" >1</a></td>
              </tr>
              <tr>
                <th class="table-light" scope="row">Closed</th>
                <td class="text-center"><a routerLink="/post-home" >0</a></td>
                <td class="text-center"><a routerLink="/post-home" >0</a></td>
              </tr>              
              <tr class="bg-dark text-white">
                <th scope="row">Total</th>
                <td class="text-center"><a routerLink="/post-home" >10</a></td>
                <td class="text-center"><a routerLink="/post-home" >7</a></td>
              </tr>
            </tbody>
          </table>   
          <br><br><br><br>
         </div>
  </div>

</span>